<template>
  <div class="max-w-screen-md mx-auto px-4 py-10">
    <div
      v-if="statusMsg || errorMsg"
      class="mb-10 p-4 bg-light-grey rounded-md shadow-lg"
    >
      <p class="text-at-light-green">{{ statusMsg }}</p>
      <p class="text-red-500">{{ errorMsg }}</p>
    </div>

    <div class="p-8 flex items-start bg-light-grey rounded-md shadow-lg">
      <form
        @submit.prevent="createWorkout"
        class="flex flex-col gap-y-5 w-full"
      >
        <h1 class="text-2xl text-at-light-green">Тренировки</h1>
        <div class="flex flex-col">
          <label for="workout-name" class="mb-1 text-sm text-at-light-green">
            Название тренировки
          </label>
          <input
            v-model="workoutName"
            id="workout-name"
            type="text"
            required
            class="p-2 text-gray-500 focus:outline-none"
          />
        </div>

        <div class="flex flex-col">
          <label for="workout-type" class="mb-1 text-sm text-at-light-green">
            Тип тренировки
          </label>
          <select
            v-model="workoutType"
            @change="workoutChange"
            id="workout-type"
            class="p-2 text-gray-500 focus:outline-none"
            required
          >
            <option
              v-for="type in workoutTypes"
              :key="type.value"
              :value="type.value"
            >
              {{ type.label }}
            </option>
          </select>
        </div>
        <div v-if="workoutType === 'strength'" class="flex flex-col gap-y-4">
          <div
            v-for="(item, index) in exercises"
            :key="index"
            class="flex flex-col gap-x-6 gap-y-2 md:flex-row"
          >
            <div class="flex flex-col md:w-1/3">
              <label
                for="exercise-name"
                class="mb-1 text-sm text-at-light-green"
              >
                Упражнение
              </label>
              <input
                v-model="item.exercise"
                required
                type="text"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <div class="flex flex-col flex-1">
              <label for="sets" class="mb-1 text-sm text-at-light-green">
                Подходы
              </label>
              <input
                v-model="item.sets"
                required
                type="text"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <div class="flex flex-col flex-1">
              <label for="reps" class="mb-1 text-sm text-at-light-green">
                Повторение
              </label>
              <input
                v-model="item.reps"
                required
                type="text"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <div class="flex flex-col flex-1">
              <label for="weight" class="mb-1 text-sm text-at-light-green">
                Вес
              </label>
              <input
                v-model="item.weight"
                required
                type="text"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <img
              @click="deleteExercise(item.id)"
              src="@/assets/images/trash-light-green.png"
              class="h-4 w-auto cursor-pointer"
              alt=""
            />
          </div>
          <button
            @click="addExercise"
            class="
              mt-6
              py-2
              px-6
              rounded-sm
              self-start
              text-sm text-white
              bg-at-light-green
              duration-200
              border-solid border-2 border-transparent
              hover:border-at-light-green
              hover:bg-white
              hover:text-at-light-green
            "
          >
            Добавить запись
          </button>
        </div>

        <div v-if="workoutType === 'cardio'" class="flex flex-col gap-y-4">
          <div
            v-for="(item, index) in exercises"
            :key="index"
            class="flex flex-col gap-x-6 gap-y-2 md:flex-row"
          >
            <div class="flex flex-col md:w-1/3">
              <label for="cardio-type" class="mb-1 text-sm text-at-light-green">
                Тип
              </label>
              <select
                v-model="item.cardioType"
                id="cardio-type"
                class="p-2 w-full text-gray-500 focus:outline-none"
              >
                <option value="run">Бег</option>
                <option value="walk">Хотьба</option>
              </select>
            </div>
            <div class="flex flex-col flex-1">
              <label for="distance" class="mb-1 text-sm text-at-light-green">
                Расстояние
              </label>
              <input
                v-model="item.distance"
                required
                type="number"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <div class="flex flex-col flex-1">
              <label for="duration" class="mb-1 text-sm text-at-light-green">
                Продолжительность
              </label>
              <input
                v-model="item.duration"
                required
                type="number"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <div class="flex flex-col flex-1">
              <label for="pace" class="mb-1 text-sm text-at-light-green">
                Шаги
              </label>
              <input
                v-model="item.pace"
                required
                type="number"
                class="p-2 w-full text-grey-500 focus:outline-none"
              />
            </div>
            <img
              @click="deleteExercise(item.id)"
              src="@/assets/images/trash-light-green.png"
              class="h-4 w-auto cursor-pointer"
              alt=""
            />
          </div>
          <button
            @click="addExercise"
            class="
              mt-6
              py-2
              px-6
              rounded-sm
              self-start
              text-sm text-white
              bg-at-light-green
              duration-200
              border-solid border-2 border-transparent
              hover:border-at-light-green
              hover:bg-white
              hover:text-at-light-green
            "
          >
            Добавить тренировку
          </button>
        </div>
        <button
          type="submit"
          class="
            mt-6
            py-2
            px-6
            rounded-sm
            self-start
            text-sm text-white
            bg-at-light-green
            duration-200
            border-solid border-2 border-transparent
            hover:border-at-light-green hover:bg-white hover:text-at-light-green
          "
        >
          Сохранить тренировку
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import { uid } from 'uid';
import { supabase } from '../supabase/init';

export default {
  name: 'create',
  setup() {
    // Create data
    const DEFAULT_WORKOUTTYPE = 'select-workout';
    const workoutName = ref('');
    const workoutType = ref(DEFAULT_WORKOUTTYPE);
    const exercises = ref([]);
    const workoutTypes = ref([
      { value: DEFAULT_WORKOUTTYPE, label: 'Выберите тренировку' },
      { value: 'strength', label: 'Силовая тренировку' },
      { value: 'cardio', label: 'Кардио тренировку' },
    ]);
    const statusMsg = ref(null);
    const errorMsg = ref(null);
    // Add exercise
    const addExercise = () => {
      let exircese = null;
      if (workoutType.value === 'strength') {
        exircese = {
          id: uid(),
          exercise: '',
          sets: '',
          reps: '',
          weight: '',
        };
      } else if (workoutType.value === 'cardio') {
        exircese = {
          id: uid(),
          cardioType: '',
          distance: '',
          duration: '',
          pace: '',
        };
      }
      if (exircese !== null && Object.keys(exircese)) {
        exercises.value.push(exircese);
      }
    };
    // Delete exercise

    const deleteExercise = (id) => {
      console.log(id);
      console.log(exercises.value);
      if (exercises.value.length > 1) {
        exercises.value = exercises.value.filter((item) => item.id !== id);
        return;
      }

      errorMsg.value = 'Внимание: Должна быть хотя бы одна запись';
      setTimeout(() => {
        errorMsg.value = '';
      }, 5000);
    };

    // Listens for chaging of workout type input
    const workoutChange = () => {
      console.log(exercises.value);
      exercises.value = [];
      addExercise();
    };
    // Create workout
    const createWorkout = async () => {
      try {
        const { error } = await supabase.from('workouts').insert([
          {
            workoutName: workoutName.value,
            workoutType: workoutType.value,
            exercises: exercises.value,
          },
        ]);
        if (error) {
          throw error;
        }
        statusMsg.value = 'Запись успешно добавлена';
        workoutName.value = '';
        workoutType.value = DEFAULT_WORKOUTTYPE;
        exercises.value = [];
        setTimeout(() => {
          statusMsg.value = '';
        }, 5000);
      } catch (error) {
        errorMsg.value = `Ошибка: ${error.message}`;
        setTimeout(() => {
          errorMsg.value = '';
        }, 5000);
      }
    };

    return {
      workoutName,
      workoutType,
      workoutTypes,
      exercises,
      statusMsg,
      errorMsg,
      addExercise,
      workoutChange,
      deleteExercise,
      createWorkout,
    };
  },
};
</script>
