<template>
  <div class="max-w-screen-sm mx-auto px-4 py-10">
    <div v-if="errorMsg" class="mb-10 p-4 rounded-md bg-light-grey shadow-lg">
      <p class="text-red-500">{{ errorMsg }}</p>
    </div>
    <form
      class="p-8 flex flex-col bg-light-grey rounded-md shadow-lg"
      @submit.prevent="register"
    >
      <h1 class="text-3xl text-at-light-green mb-4">Зарегистрироваться</h1>
      <div class="flex flex-col mb-2">
        <label for="email" class="mb-1 text-sm text-at-light-green"
          >Почта</label
        >
        <input
          id="email"
          type="text"
          required
          class="p-2 text-grey-500 focus:outline-none"
          v-model="email"
        />
      </div>
      <div class="flex flex-col mb-2">
        <label for="password" class="mb-1 text-sm text-at-light-green"
          >Пароль</label
        >
        <input
          id="password"
          type="password"
          required
          class="p-2 text-grey-500 focus:outline-none"
          v-model="password"
        />
      </div>
      <div class="flex flex-col mb-2">
        <label for="confirmPassword" class="mb-1 text-sm text-at-light-green"
          >Подтвердить Пароль</label
        >
        <input
          id="confirmPassword"
          type="password"
          required
          class="p-2 text-grey-500 focus:outline-none"
          v-model="confirmPassword"
        />
      </div>
      <button
        type="submit"
        class="
          mt-6
          py-2
          px-6
          rounded-sm
          self-start
          text-sm text-white
          bg-at-light-green
          duration-200
          border-solid border-2 border-transparent
          hover:border-at-light-green hover:bg-white hover:text-at-light-green
        "
      >
        Зарегистрироваться
      </button>
      <router-link class="text-sm mt-6 text-center" :to="{ name: 'login' }">
        Уже есть аккаунт? <span class="text-at-light-green">Войти</span>
      </router-link>
    </form>
  </div>
</template>

<script>
import { ref } from 'vue';
import { supabase } from '../supabase/init';
import { useRouter } from 'vue-router';

export default {
  name: 'register',
  setup() {
    // Create data / vars
    const router = useRouter();
    const email = ref(null);
    const password = ref(null);
    const confirmPassword = ref(null);
    const errorMsg = ref(null);
    // Register function
    const register = async () => {
      errorMsg.value = '';
      if (password.value === confirmPassword.value) {
        try {
          const responce = await supabase.auth.signUp({
            email: email.value,
            password: password.value,
          });
          if (responce && 'error' in responce) {
            throw responce.error;
          }
          router.push({ name: 'login' });
        } catch (error) {
          errorMsg.value = `Error: ${error.message}`;
        }
        return;
      }
      errorMsg.value = 'Ошибка: Пароль не совпадает';
    };

    return {
      email,
      password,
      confirmPassword,
      errorMsg,
      register,
    };
  },
};
</script>
