<template>
  <div class="max-w-screen-sm mx-auto px-4 py-10">
    <div
      v-if="statusMsg || errorMsg"
      class="mb-10 p-4 rounded-md shadow-md bg-light-grey"
    >
      <p class="text-at-light-green">
        {{ statusMsg }}
      </p>
      <p class="text-red-500">
        {{ errorMsg }}
      </p>
    </div>

    <!-- Block of general info about workout -->
    <div v-if="dataLoaded">
      <div
        class="
          flex flex-col
          items-center
          p-8
          rounded-md
          shadow-md
          bg-light-grey
          relative
        "
      >
        <div v-if="user" class="flex absolute left-2 top-2 gap-x-2">
          <div
            @click="editMode"
            class="
              h-7
              w-7
              rounded-full
              flex
              justify-center
              items-center
              cursor-pointer
              bg-at-light-green
              shadow-lg
            "
          >
            <img
              class="h-3.5 w-auto"
              src="@/assets/images/pencil-light.png"
              alt="edit"
            />
          </div>
          <div
            class="
              h-7
              w-7
              rounded-full
              flex
              justify-center
              items-center
              cursor-pointer
              bg-at-light-green
              shadow-lg
            "
          >
            <img
              @click="deleteWorkout"
              class="h-3.5 w-auto"
              src="@/assets/images/trash-light.png"
              alt="delete"
            />
          </div>
        </div>
        <img
          v-if="data.workoutType === 'cardio'"
          class="h-24 w-24"
          src="@/assets/images/running-light-green.png"
          alt=""
        />
        <img
          v-if="data.workoutType === 'strength'"
          class="h-24 w-24"
          src="@/assets/images/dumbbell-light-green.png"
          alt=""
        />
        <span
          class="
            mt-6
            py-1.5
            px-5
            text-xs text-white
            bg-at-light-green
            rounded-lg
            shadow-md
          "
        >
          {{ data.workoutType }}
        </span>
        <div class="w-full mt-6">
          <input
            v-if="edit"
            v-model="data.workoutName"
            type="text"
            class="p-2 w-full text-gray-500 focus:outline-none"
          />
          <h1 v-else class="text-at-light-green text-2xl text-center">
            {{ data.workoutName }}
          </h1>
        </div>
      </div>

      <!-- Block list of exercises -->
      <div
        class="
          mt-10
          p-8
          rounded-md
          flex flex-col
          item-center
          bg-light-grey
          shadow-md
        "
      >
        <!-- Block strength -->
        <div
          v-if="data.workoutType === 'strength'"
          class="flex flex-col gap-y-4 w-full"
        >
          <div
            v-for="item in data.exercises"
            :key="item.id"
            class="flex flex-col gap-x-6 gap-y-2 relative sm:flex-row"
          >
            <div class="flex flex-2 flex-col md:w-1/3">
              <label
                for="exercise-name"
                class="mb-1 text-sm text-at-light-green"
              >
                Упражнение
              </label>
              <input
                v-if="edit"
                v-model="item.exercise"
                id="exercise-name"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="text"
              />
              <p v-else>{{ item.exercise }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="sets" class="mb-1 text-sm text-at-light-green">
                Подходы
              </label>
              <input
                v-if="edit"
                v-model="item.sets"
                id="sets"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.sets }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="reps" class="mb-1 text-sm text-at-light-green">
                Повторения
              </label>
              <input
                v-if="edit"
                v-model="item.reps"
                id="reps"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.reps }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="weight" class="mb-1 text-sm text-at-light-green">
                Вес
              </label>
              <input
                v-if="edit"
                v-model="item.weight"
                id="weight"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.weight }}</p>
            </div>
            <img
              v-if="edit"
              @click="deleteExercise(item.id)"
              class="h-4 w-auto cursor-pointer"
              src="@/assets/images/trash-light-green.png"
              alt="delete"
            />
          </div>
          <button
            v-if="edit"
            @click="addExercise(data.workoutType)"
            type="button"
            class="
              py-2
              px-6
              rounded-sm
              self-start
              text-sm text-white
              bg-at-light-green
              duration-200
              border-solid border-2 border-transparent
              hover:border-at-light-green
              hover:bg-white
              hover:text-at-light-green
            "
          >
            Добавить запись
          </button>
        </div>

        <!-- Block cardio -->
        <div
          v-if="data.workoutType === 'cardio'"
          class="flex flex-col gap-y-4 w-full"
        >
          <div
            v-for="item in data.exercises"
            :key="item.id"
            class="flex flex-col gap-x-6 gap-y-2 relative sm:flex-row"
          >
            <div class="flex flex-2 flex-col md:w-1/3">
              <label for="cardioType" class="mb-1 text-sm text-at-light-green">
                Тип
              </label>
              <select
                v-if="edit"
                v-model="item.cardioType"
                id="cardioType"
                class="p-2 w-full text-grey-500 focus:outline-none"
              >
                <option value="#">Выберите тип</option>
                <option value="run">Бег</option>
                <option value="walk">Хотьба</option>
              </select>
              <p v-else>{{ tarnslateCardioType(item.cardioType) }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="distance" class="mb-1 text-sm text-at-light-green">
                Расстояние
              </label>
              <input
                v-if="edit"
                v-model="item.distance"
                id="distance"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.distance }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="duration" class="mb-1 text-sm text-at-light-green">
                Продолжительность
              </label>
              <input
                v-if="edit"
                v-model="item.duration"
                id="duration"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.duration }}</p>
            </div>
            <div class="flex flex-1 flex-col">
              <label for="pace" class="mb-1 text-sm text-at-light-green">
                Шаги
              </label>
              <input
                v-if="edit"
                v-model="item.pace"
                id="pace"
                class="p-2 w-full text-grey-500 focus:outline-none"
                type="number"
              />
              <p v-else>{{ item.pace }}</p>
            </div>
            <img
              v-if="edit"
              @click="deleteExercise(item.id)"
              class="h-4 w-auto cursor-pointer"
              src="@/assets/images/trash-light-green.png"
              alt="delete"
            />
          </div>
          <button
            v-if="edit"
            @click="addExercise(data.workoutType)"
            type="button"
            class="
              py-2
              px-6
              rounded-sm
              self-start
              text-sm text-white
              bg-at-light-green
              duration-200
              border-solid border-2 border-transparent
              hover:border-at-light-green
              hover:bg-white
              hover:text-at-light-green
            "
          >
            Добавить запись
          </button>
        </div>
      </div>

      <button
        v-if="edit"
        @click="updateWorkout"
        type="button"
        class="
          mt-10
          py-2
          px-6
          rounded-sm
          self-start
          text-sm text-white
          bg-at-light-green
          duration-200
          border-solid border-2 border-transparent
          hover:border-at-light-green hover:bg-white hover:text-at-light-green
        "
      >
        Обновить запись
      </button>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { supabase } from '../supabase/init';
import { uid } from 'uid';
import store from '../store/index';

export default {
  name: 'view-workout',
  setup() {
    // Create data / vars
    const data = ref(null);
    const dataLoaded = ref(null);
    const errorMsg = ref(null);
    const statusMsg = ref(null);
    // Get current Id of route
    const route = useRoute();
    const router = useRouter();
    const user = computed(() => store.state.user);
    // Get workout data
    const currentId = route.params.workoutId;
    const tarnslateCardioType = (type) => {
      const types = {
        walk: 'Хотьба',
        run: 'Бег',
      };
      return types[type];
    };

    const getData = async () => {
      try {
        const { data: workouts, error } = await supabase
          .from('workouts')
          .select('*')
          .eq('id', currentId);
        if (error) {
          throw error;
        }
        data.value = workouts[0];
        dataLoaded.value = true;
      } catch (error) {
        errorMsg.value = error.message;
        setTimeout(() => {
          errorMsg.value = '';
        }, 5000);
      }
    };

    getData();
    // Delete workout

    const deleteWorkout = async () => {
      try {
        const { error } = await supabase
          .from('workouts')
          .delete()
          .eq('id', currentId);
        if (error) {
          throw error;
        }
        router.push({ name: 'home' });
      } catch (error) {
        errorMsg.value = `Ошибка: ${error.message}`;
        setTimeout(() => {
          errorMsg.value = '';
        }, 5000);
      }
    };
    // Edit mode
    const edit = ref(null);
    const editMode = () => {
      edit.value = !edit.value;
    };

    // Add exercise
    const addExercise = (type) => {
      let exircese = null;
      if (type === 'strength') {
        exircese = {
          id: uid(),
          exercise: '',
          sets: '',
          reps: '',
          weight: '',
        };
      } else if (type === 'cardio') {
        exircese = {
          id: uid(),
          cardioType: '',
          distance: '',
          duration: '',
          pace: '',
        };
      }
      if (exircese !== null && Object.keys(exircese)) {
        data.value.exercises.push(exircese);
      }
    };
    // Delete exercise
    const deleteExercise = (id) => {
      if (data.value.exercises.length > 1) {
        data.value.exercises = data.value.exercises.filter(
          (item) => item.id !== id
        );
        return;
      }

      errorMsg.value = 'Внимание: Должна быть хотя бы одна запись';
      setTimeout(() => {
        errorMsg.value = '';
      }, 5000);
    };
    // Update Workout
    const updateWorkout = async () => {
      try {
        const { error } = await supabase
          .from('workouts')
          .update({
            workoutName: data.value.workoutName,
            exercises: data.value.exercises
          })
          .eq('id', currentId);
        if (error) {
          throw error
        }
        editMode()
        statusMsg.value = 'Запись обновлена'
        setTimeout(() => {
          statusMsg.value = '';
        }, 5000)
      } catch (error) {
        errorMsg.value = `Ошибка: ${error.message}`
        setTimeout(() => {
          errorMsg.value = '';
        }, 5000)
      }
    };

    return {
      data,
      dataLoaded,
      errorMsg,
      statusMsg,
      edit,
      editMode,
      user,
      tarnslateCardioType,
      deleteWorkout,
      addExercise,
      deleteExercise,
      updateWorkout
    };
  },
};
</script>
